/*Global Style*/
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-image: url("../images/denv_skyline.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*Header Section*/
header {
    text-align: center;
    color: rgb(70, 81, 247);
}
h1 {
    font-size: 7vw;
    margin: auto;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
header p {
    font-size: 2vw;
    font-style: italic;
    margin: auto;
    font-weight: 500;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

/*Navigation*/
.nav {
    text-align: center;
    margin: 1%;
}
.nav a{
    font-size: 2vw;
    margin: 2%;
    padding: .5%;
    text-align: center;
    text-decoration: none;
    color: rgb(33, 0, 122);
    font-weight: 500;
}
.nav a:hover {
    background-color: rgb(245, 100, 100);
}

/*Aside Section*/
aside {
    margin: 10px;
    width: 30vw;
    float: right;
}
.info {
    border: 2px solid rgb(33, 0, 122);
    width: 2px solid ;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(243, 244, 245, .5);
}

/*Body*/
section {
    width: 65vw;
    margin-top: 10px;
    padding: 3px;
    background-color: rgb(243, 244, 245, .5);
    border: 2px solid rgb(33, 0, 122);
    font-weight: 500;
    display: inline-block;
}
.pic {
    margin: 10px;
    height: 45%;
    width: 45%;
    float: left;
    border: solid 1px rgb(33, 0, 122);
}
section lh {
    text-decoration: underline;
}
.attractions {
    padding: 2px;
    width: fit-content;
    display: inline-block;
}
.eat {
    width: fit-content;
    display: inline-block;
}
.eat ol{
    list-style-position: inside;
    padding: 2px;
    display: inline-block;
}
.eat ul {
    list-style-type: none;
    padding-top: 2px;
    width: fit-content;
    display: inline-block;
}